<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" />

    <link rel="stylesheet" href="css/style.css" />
    <title>Compontents</title>
  </head>
  <body>
    <main>
      <nav class="divider-x">
        <a href="http://">test1</a>
        <a href="http://">test2</a>
        <a href="http://">test3</a>
      </nav>
    </main>
    <div class="divider-y">
      <ul>
        <li><a href="http://">科技昨夜今晨 1028：小米 13 手机无缘“满血”澎湃 HyperOS 2；华为 nova 13 首销破 11 万台；曝任天堂 Switch 2 即将公布</a></li>
        <li><a href="http://">科技昨夜今晨 1027：央视曝电动自行车解限速乱象；阿里巴巴同意支付逾 4 亿美元和解美股集体诉讼；小米自研内核将适配更多机型</a></li>
        <li><a href="http://">科技昨夜今晨 1026：爱奇艺回应“VIP 新规被吐槽变相加钱”；小米澎湃 OS2 自研内核国内首发端到端加密；保时捷售价跌破 40 万</a></li>
        <li><a href="http://">科技昨夜今晨 1025：小米 15 系列定档 10 月 29 日；vivo 回应 X200 Pro 拍摄炫光现象；OPPO Find X8 / Pro 系列手机发布</a></li>
        <li><a href="http://">科技昨夜今晨 1024：工信部部长会见苹果 CEO 库克；高通回应 Arm 取消许可传闻；贾跃亭计划两年内还清债回国</a></li>
      </ul>

      <ul>
        <li><a href="http://">科技昨夜今晨 1028：小米 13 手机无缘“满血”澎湃 HyperOS 2；华为 nova 13 首销破 11 万台；曝任天堂 Switch 2 即将公布</a></li>
        <li><a href="http://">科技昨夜今晨 1027：央视曝电动自行车解限速乱象；阿里巴巴同意支付逾 4 亿美元和解美股集体诉讼；小米自研内核将适配更多机型</a></li>
        <li><a href="http://">科技昨夜今晨 1026：爱奇艺回应“VIP 新规被吐槽变相加钱”；小米澎湃 OS2 自研内核国内首发端到端加密；保时捷售价跌破 40 万</a></li>
        <li><a href="http://">科技昨夜今晨 1025：小米 15 系列定档 10 月 29 日；vivo 回应 X200 Pro 拍摄炫光现象；OPPO Find X8 / Pro 系列手机发布</a></li>
        <li><a href="http://">科技昨夜今晨 1024：工信部部长会见苹果 CEO 库克；高通回应 Arm 取消许可传闻；贾跃亭计划两年内还清债回国</a></li>
      </ul>

      <ul>
        <li><a href="http://">科技昨夜今晨 1028：小米 13 手机无缘“满血”澎湃 HyperOS 2；华为 nova 13 首销破 11 万台；曝任天堂 Switch 2 即将公布</a></li>
        <li><a href="http://">科技昨夜今晨 1027：央视曝电动自行车解限速乱象；阿里巴巴同意支付逾 4 亿美元和解美股集体诉讼；小米自研内核将适配更多机型</a></li>
        <li><a href="http://">科技昨夜今晨 1026：爱奇艺回应“VIP 新规被吐槽变相加钱”；小米澎湃 OS2 自研内核国内首发端到端加密；保时捷售价跌破 40 万</a></li>
        <li><a href="http://">科技昨夜今晨 1025：小米 15 系列定档 10 月 29 日；vivo 回应 X200 Pro 拍摄炫光现象；OPPO Find X8 / Pro 系列手机发布</a></li>
        <li><a href="http://">科技昨夜今晨 1024：工信部部长会见苹果 CEO 库克；高通回应 Arm 取消许可传闻；贾跃亭计划两年内还清债回国</a></li>
      </ul>

      <ul>
        <li><a href="http://">科技昨夜今晨 1028：小米 13 手机无缘“满血”澎湃 HyperOS 2；华为 nova 13 首销破 11 万台；曝任天堂 Switch 2 即将公布</a></li>
        <li><a href="http://">科技昨夜今晨 1027：央视曝电动自行车解限速乱象；阿里巴巴同意支付逾 4 亿美元和解美股集体诉讼；小米自研内核将适配更多机型</a></li>
        <li><a href="http://">科技昨夜今晨 1026：爱奇艺回应“VIP 新规被吐槽变相加钱”；小米澎湃 OS2 自研内核国内首发端到端加密；保时捷售价跌破 40 万</a></li>
        <li><a href="http://">科技昨夜今晨 1025：小米 15 系列定档 10 月 29 日；vivo 回应 X200 Pro 拍摄炫光现象；OPPO Find X8 / Pro 系列手机发布</a></li>
        <li><a href="http://">科技昨夜今晨 1024：工信部部长会见苹果 CEO 库克；高通回应 Arm 取消许可传闻；贾跃亭计划两年内还清债回国</a></li>
      </ul>

      <ul>
        <li><a href="http://">科技昨夜今晨 1028：小米 13 手机无缘“满血”澎湃 HyperOS 2；华为 nova 13 首销破 11 万台；曝任天堂 Switch 2 即将公布</a></li>
        <li><a href="http://">科技昨夜今晨 1027：央视曝电动自行车解限速乱象；阿里巴巴同意支付逾 4 亿美元和解美股集体诉讼；小米自研内核将适配更多机型</a></li>
        <li><a href="http://">科技昨夜今晨 1026：爱奇艺回应“VIP 新规被吐槽变相加钱”；小米澎湃 OS2 自研内核国内首发端到端加密；保时捷售价跌破 40 万</a></li>
        <li><a href="http://">科技昨夜今晨 1025：小米 15 系列定档 10 月 29 日；vivo 回应 X200 Pro 拍摄炫光现象；OPPO Find X8 / Pro 系列手机发布</a></li>
        <li><a href="http://">科技昨夜今晨 1024：工信部部长会见苹果 CEO 库克；高通回应 Arm 取消许可传闻；贾跃亭计划两年内还清债回国</a></li>
      </ul>
    </div>
  </body>
</html>
